<div class="header-container">

    <div class="title-container" [ngStyle]="titleStyles">
        <h2>Covid–19</h2>
        <h1>Dados Globais Dashboard</h1>
    </div>

    <div class="cases-container">
        <div class="child-cases-info-container" [ngStyle]="titleStyles">
            <div>6,150,482</div>
            <div>Casos</div>
        </div>
        <div class="child-cases-info-container" [ngStyle]="titleStyles">
            <div>370,506</div>
            <div>Fatalidades</div>
        </div>
        <div class="child-cases-info-container" [ngStyle]="titleStyles">
            <div>3,045,430</div>
            <div>Casos Ativos</div>
        </div>
    </div>

</div>