.casesContry-container {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  padding: 100px 80px 0px 80px;
  font-family: "Castoro Titling", cursive;

  .info-top-container {
    display: flex;
    align-items: center;
    margin-bottom: 80px;
    justify-content: space-between;

    .cases-info-container {
      div:nth-child(1) {
        font-size: 2rem;
        color: #272727;
        font-weight: 700;
        letter-spacing: -1px;
      }
      div:nth-child(2) {
        font-size: 1rem;
        font-weight: 900;
        color: #272727bc;
      }
    }
  }
  .select-info-container {
    height: 30px;
    display: flex;
    overflow: hidden;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    border: solid 1px #31002c;

    div {
      height: 100%;
      display: flex;
      padding: 0 7px;
      cursor: pointer;
      text-align: center;
      align-items: center;
      justify-content: center;
      font-family: "Roboto Condensed", sans-serif;
    }

    div:nth-child(1) {
      color: #fff;
      font-weight: 500;
      margin-right: 10px;
      background-color: #420183;
    }
  }

  .graphic-container {
    width: 100%;

    .graphic-line-info-container {
      width: 100%;
      height: 40px;
      display: flex;
      margin-top: 20px;
      position: relative;
      align-items: center;

      div:nth-child(1) {
        width: 35px;
        font-weight: 600;
        margin-right: 20px;
        color: #272727af;
      }

      .line-container ::after {
        left: 0;
        content: "";
        width: 100%;
        height: 2px;
        bottom: -10px;
        position: absolute;
        background-color: rgba(31, 31, 31, 0.156);
      }

      .line-container {
        width: 100%;
        height: 100%;
        display: flex;
        border-radius: 3px;
        align-items: center;
        justify-content: center;
        background: linear-gradient(to right, #42018395, #5b01b6);

        div {
          width: 100%;
          color: #fff;
          margin: 0 auto;
          text-align: end;
          padding: 0 10px;
          font-weight: 300;
          letter-spacing: 1px;
          box-sizing: border-box;
        }
      }
    }
  }
}
