<div class="fatalities-container">
  <div class="info-top-container">
    <div class="cases-info-container">
      <div>Vírus espalhado por país</div>
      <div>Casos confirmados em relação ao tamanho da população</div>
    </div>
  </div>

  <div class="graphic-container">
    <div
      class="graphic-line-info-container"
      *ngFor="let case of cases; let last = last"
    >
      <circle-progress [percent]="case.percentage"></circle-progress>
      <div class="text">{{ case.percentage }}%</div>
      <div class="country">{{ case.country }}</div>
    </div>
  </div>
</div>
